/* Global Stylings */

body {
  background-color: #f5b8b8;
}
button>a, a:hover{
  color: #fff;
  text-decoration: none;
}

li>a{
  color: #000;
}

li>a:hover{
  color: #000;
  text-decoration: underline;
}

button>a {
  display: inline-block;     
  position: relative;    
  z-index: 1;     
  padding: .8em;     
  margin: -.8em; 
}

footer {
  position:fixed;
  bottom:0;
  left: 46%;
  width:100%;
  color:#000;
  padding:8px;
}

h1 {
  margin-top: 10%;
}

/* Splash styling */
.main-btn{
  display: block;
  margin: auto;
  padding: 25px 35px;
  font-size: 2em;
  margin-top: 20px;
}

.splash-h1
{
  margin-top: 25%;
}

/* Home styling */
#home-h1
{
  font-size: 3em;
  margin-top: 20%;
}

.create-button
{
  padding: 6px 20px;
}

/* Create styling */
.create-btn{
  display: block;
  margin: auto;
  margin-top: 2%;
}

/* Detail styling */
